/*

Additional CSS for Dingle's Games Tools 

*/

/***************************************************

		Sitewide CSS

***************************************************/

.advert {
	min-height: 5rem;
	width: 100%;
	background-color: #aaaaaa;
}


/***************************************************

			CSS for all  any Toolpages 

***************************************************/


/* TEMP */
#intro {
		display: none;
}

/* Page structure Modifications */
body.page-template-toolpagev2 .tregenza_one_block_entrydate {
	display: none;
}
body.page-template-toolpagev2 .tregenza_one_block_entryauthor {
	display: none;
}
body.page-template-toolpagev2 .tregenza_one_block_entrylinks {
	display: none;
}
body.page-template-toolpagev2 .tregenza_one_block_entrycategory {
	display: none;
}
body.page-template-toolpagev2 .tregenza_one_block_entrytags {
	display: none;
}


/***** Error Messages ******/
#dgToolsFormWrapper .error {
}
#dgToolsFormWrapper .error span.dgToolsMSG {
		display: block;
		background-color: #AA0000;
		color: white;
		font-weight: 400;		
		padding: 0.1rem;
		margin: 0.25rem;
		text-align: center;
}

.tregenza_one_dg_form .dgError {
		background-color: #aa0000;
}

/*****		dgTool Generic form CSS for Select / Generate / Result pages  ******/

.tregenza_one_dg_form {	
	font-size: 1rem;
}

.tregenza_one_dg_form  ul {	
	padding: 0;
	margin: 0;	
}

body.page-template-toolpagev2-php .tregenza_one_dg_form  ul  li {	 /* Extra specifity needed to override css elsewhere */
	list-style-type: none;	
	padding: 0;
	margin: 0;	
}


.tregenza_one_dg_form   select {	
	width: 10rem;
	font-size: 1rem;
}
.tregenza_one_dg_form  input[type=text] {	
/*	width: 3rem; */
	min-width: 3rem;
}

.tregenza_one_dg_form > .dgBlockOfRows {
	margin: 0.5rem;
	width: 100%;
	max-width: 40rem;
}

.tregenza_one_dg_form > .dgBlockOfRows > .dgBlockLabel {
		width: 100%;
		display: block;
		padding: 0.25rem;
		font-size: 1rem;
		color: black;
		font-weight: 700;
		border-top: 1px solid black;
}


.tregenza_one_dg_form > .dgBlockOfRows > .dgRow {
	width: 100%;
	margin-bottom: 0.25rem;
}

/* Default Label / Value  Formating */
.tregenza_one_dg_form  .dgLabel {
		margin-right: 0.25rem;
		min-width: 5rem;

		font-weight: 300;
		color:  #999999;
}
.tregenza_one_dg_form  .dgLabel:after  {
		content: ":";
		margin-right: 0.5rem;
}

.tregenza_one_dg_form  .dgValue {
		margin-right: 0.25rem;
}
/* Default Label / Value DIVs Formating */
.tregenza_one_dg_form  div.dgLabel {
		width: 100%;	
}

.tregenza_one_dg_form  div.dgValue {
		width: 100%;	
}




.tregenza_one_dg_form > .dgBlockOfRows > .dgRowNoLabel.dgRow > span.dgValue {
		margin: 0 auto;
		display: block;
		text-align: center;
}

.tregenza_one_dg_form > .dgBlockOfRows > .dgRowTable  {
		width: 100%;
}
.tregenza_one_dg_form > .dgBlockOfRows > .dgRowTable > .dgRowTableHeaders {
}
.tregenza_one_dg_form > .dgBlockOfRows > .dgRowTable > .dgRowTableHeaders > span.dgRowTableHeader{
		background-color: #777777;
		color: white;
		font-weight: 400;
		padding: 0.25rem 0.25rem;
		margin-right: 0.25rem;
		width: 10rem;
}



/***************************************************

	CSS for NPC Select / Generate / Result

******************************************************/

/* Button Hide / Display  */
#dgToolsFormWrapper.dgType_SELECT.dgTool_NPC .dgButtonsRecalc {
		display: none;
} 
#dgToolsFormWrapper.dgType_SELECT.dgTool_NPC .dgButtonsPrint {
		display: none;
} 
#dgToolsFormWrapper.dgType_SELECT.dgTool_NPC .dgButtonsEdit {
		display: none;
} 
#dgToolsFormWrapper.dgType_SELECT.dgTool_NPC .dgNPCGenerator .dgButtonsLoad {
		display: none;
} 
#dgToolsFormWrapper.dgType_SELECT.dgTool_NPC .dgNPCGeneratorLoadSave .dgButtonsGenerate {
		display: none;
} 


#dgToolsFormWrapper.dgType_GENERATE.dgTool_NPC .dgButtonsGenerate {
		display: none;
} 
#dgToolsFormWrapper.dgType_GENERATE.dgTool_NPC .dgButtonsEdit {
		display: none;
} 
#dgToolsFormWrapper.dgType_GENERATE.dgTool_NPC .dgButtonsLoad {
		display: none;
} 
#dgToolsFormWrapper.dgType_RESULT.dgTool_NPC .dgButtonsGenerate {
		display: none;
} 
#dgToolsFormWrapper.dgType_RESULT.dgTool_NPC .dgButtonsRecalc {
		display: none;
} 
#dgToolsFormWrapper.dgType_RESULT.dgTool_NPC .dgButtonsPrint {
		display: none;
} 
#dgToolsFormWrapper.dgType_RESULT.dgTool_NPC .dgButtonsLoad {
		display: none;
} 

/***************************************************

	CSS for NPC Select 

******************************************************/

.dgNPCSelectLetters {
		margin: 1rem 0 0 0;
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-content: space-around;
		align-items: stretch;
}

.dgNPCSelectLetters input[type="button"] {
		/* Monster Selection letter buttons */
	margin: 0.5rem;
	width: 2rem;
	height: 2rem;
	flex: 0 0 auto;
	min-width: 0;
}

.dgSavedNPCS {
}

.dgSavedNPCS .dgSavedNPC {
		border: 1px solid #aaaaaa;
		margin: 0.25rem;
		padding: 0.25rem;
}

.dgSavedNPCS .dgSavedNPC .dgValue {
		margin: 0;
}
.dgSavedNPCS .dgSavedNPC input[type="radio"] {
	
}

/***************************************************

	CSS for NPC Generate 

******************************************************/

.dgType_GENERATE .dgNPCStatsHeader {
		width: 100%;
		line-height: 2rem;
}
.dgType_GENERATE .dgNPCStatsHeader .dgNPCRaceTemplates  {
		text-align: center;
		font-weight: bold;
		font-size: 1.6rem;
}
.dgType_GENERATE .dgNPCStatsHeader .dgNPCClassLevel {
		text-align: center;
		font-weight: bold;
		font-size: 1.4rem;
}
.dgType_GENERATE .dgNPCStatsHeader .dgNPCClassLevel select {
		width: 2rem;
}

/***************************************************

	CSS for NPC Result

******************************************************/

.dgType_RESULT  {
		font-family: verdana;
		line-height: 1rem;
		font-size: 1rem;
}
.dgType_RESULT .dgLabel {
		font-weight: bold;
		color: #111111;
		font-size: 11pt;
}
.dgType_RESULT .dgValue {
		font-size: 11pt;
}
.dgType_RESULT .dgValue {

.dgType_RESULT .dgNPCStatsHeader .dgNPCRaceCR  {
		text-align: left;
		font-weight: bold;
		font-size: 1rem;
}
.dgType_RESULT .dgNPCStatsHeader .dgNPCClassLevel {
		text-align: center;
		font-weight: bold;
		font-size: 1.6rem;
}
.dgType_RESULT .dgNPCStatsHeader .dgNPCClassLevel select {
		width: 2rem;
}



/***************************************************

	OLD CSS to be replaced / junked

******************************************************/





.tregenza_one_dg_form  ul.stats > li > ul {	
/*	border-bottom: 1px solid #aaaaaa; */
	padding-bottom: 0.5rem;
	margin-bottom: 0.5rem;
}


.tregenza_one_dg_form  li > span:first-of-type  {	
	display: inline-block;
	width: 8rem;
}

.tregenza_one_dg_form  li > span:first-of-type + span {	
	font-weight: bold;
}

.tregenza_one_dg_form  ul.specialAbility > li.specialAbility:not(:last-child) {
	border-bottom: 1px solid #aaaaaa;	
}	
.tregenza_one_dg_form  ul.specialAbility > li > ul > li {
	font-size: 0.75rem;
	font-weight: 700;
}
.tregenza_one_dg_form  ul.specialAbility > li > ul > li.greyText {
	font-weight: 300;
}

.tregenza_one_dg_form table  {
}

.tregenza_one_dg_form table .width4em {
	width: 3rem;
}
.tregenza_one_dg_form table .width40em {
	width: 10rem;
}
.tregenza_one_dg_form table select { 
	margin-left: 2rem;
}


.tregenza_one_dg_form p#total_skill input{
	display: inline-block;
	margin-left: 2rem;
}






/* DG Form Structure */
.tregenza_one_dg_form .buttonsWrapper{	
	margin-bottom: 1rem;

	border: 1px solid #aaaaaa;
	border-radius: 0.25rem;
	padding: 0.5rem;


}

.tregenza_one_dg_form .buttonsWrapper .buttonBlock {	
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	
}
.tregenza_one_dg_form .stats > .buttonBlock {
	width: 100%;

	margin-bottom: 1rem;

	border: 1px solid #aaaaaa;
	border-radius: 0.25rem;
	padding: 0.5rem;

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;


}


.tregenza_one_dg_form   .stats {	
	/* Standard Stat Box wrapper  */
	margin-top: 1rem; 
	padding: 0.25rem;
}

.tregenza_one_dg_form  .gainLayout {	
		/* Full width block */
		width: 100%;
		max-width: 100%;
		margin-top: 1.25rem;
}

.tregenza_one_dg_form .bigBoxColumns, .tregenza_one_dg_form .bigBoxThreeColumns  {	
		/* Full width, contains sub columns */
		width: 100%;
		max-width: 100%;

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;	
}

.tregenza_one_dg_form .bigBoxColumn2, .tregenza_one_dg_form .bigBoxColumn3 {	
	/* Sub-column */

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: center;
}


.tregenza_one_dg_form .bigBoxColumn2 {	
	min-width: 18rem;

	margin-right: 1rem;
}

.tregenza_one_dg_form .bigBoxColumn3 { 
	min-width: 10rem;

	margin-right: 1rem;

}

.tregenza_one_dg_form .bigBoxColumns > *:not(.bigBoxColumn2), .tregenza_one_dg_form .bigBoxThreeColumns > *:not(.bigBoxColumn3)  {	
	/* anything other than a propely classed column, display at full width */
	width: 100%;

}


.tregenza_one_dg_form   ul.stats > input[type="submit"] {
	/* Button (generaly reculcuate) without box wrapper */
	margin: 1.25rem auto 0 auto;
}	


/*  Form Results */
.formResults  {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
}

.formResults .formResultsRow {
	width: 100%;
	max-width: 16rem;
	margin: 0.5rem;
	padding: 0.5rem;

	background-color: #dddddd;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: center;

}

.formResults .formResultsRow.maxRowWidth {
	width: 100%;
}


/*** Page specific layout ***/

/* 260 - Pathfinder RPG NPC Generator */

/* 203 - DND Encounter  Generator */
body.page-id-203 .tregenza_one_dg_form input[type="submit"] {
		flex: 0 0 2rem;			/* not needed in Firefox but chrome goes weird without this */
}
body.page-id-203 .tregenza_one_dg_form select[name="cr_min"] {	
	width:	3rem;
}
body.page-id-203 .tregenza_one_dg_form select[name="cr_max"] {	
	width:	3rem;
}

body.page-id-203 .formResults .formResultsRow dl dt {
	width: 5rem;
}
body.page-id-203 .formResults .formResultsRow dl dd {
	width: 10rem;
}
body.page-id-203 .formResults .formResultsRow p  {
	text-align: center;
	align-self: flex-bottom;
}
body.page-id-203 .formResults .formResultsRow p button  {
	margin-top: 0.5rem;
	width: 4rem;
}

/* 1947 - Pathfinder Encounter  Generator */

body.page-id-1947 .tregenza_one_dg_form input[type="submit"] {
		flex: 0 0 2rem;			/* not needed in Firefox but chrome goes weird without this */
}
body.page-id-1947 .tregenza_one_dg_form select[name="cr_min"] {	
	width:	3rem;
}
body.page-id-1947 .tregenza_one_dg_form select[name="cr_max"] {	
	width:	3rem;
}

body.page-id-1947 .formResults .formResultsRow dl dt {
	width: 5rem;
}
body.page-id-1947 .formResults .formResultsRow dl dd {
	width: 10rem;
}
body.page-id-1947 .formResults .formResultsRow p  {
	text-align: center;
	align-self: flex-bottom;
}
body.page-id-1947 .formResults .formResultsRow p button  {
	margin-top: 0.5rem;
	width: 4rem;
}





/*  NPC / Monster Plain Text */

.dgNPCOutput  {
	margin: 0.25rem 0 0 0;
/*	border: 1px solid #aaaaaa;*/
	border-radius: 0.25rem;
	padding: 0.5rem;
	background-color: rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
}

/* Top level blocks of the NPC Stats */
.dgNPCOutput > .dgNPCMain {
	flex: 1 1 auto;
	margin-bottom: 0.5rem;
	background-color: white;
	padding: 0.25rem;

/*	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: center;*/

}	

.dgNPCOutput .dgBlock {
	margin-top: 0.25rem;	
	padding: 0 0rem 0 0rem;
}
.dgNPCOutput .dgNPCBlockHeader {
		padding: 0rem 0rem 0rem 0.25rem;
		background-color: #111111;
		color: white;
		font-size: 1rem;
		line-height: 1.25rem;
		font-weight: 700;
		text-transform: uppercase; 
}
.dgNPCOutput .dgNPCHighlight {
	font-weight: 700;	
}
.dgNPCOutput .dgNPCLineHeader {
	display: inline-block;
	width: 10rem;
}
.dgNPCOutput .dgNPCLineHeader:empty {
		display: none;
}


.dgNPCOutput .dgNPCValueAlign {
	margin-left: 10rem;
	padding: 0 0.25rem 0 0.25rem;
}
.dgNPCOutput .dgNPCParaHeader {
	
}

.dgNPCOutput .dgNPCValue {
	display: inline-block;
	padding: 0 0.25rem 0 0.25rem;
	min-width: 10rem;
	min-height: 1.25rem;
	width: calc(100% - 11rem);
}

.dgNPCOutput .dgNPCValue:empty {
		display: none;
}

.dgNPCOutput .dgNPCSubValue {
	display: inline-block;
	padding: 0 0.25rem 0 0.25rem;
}

.dgNPCOutput .dgNPCSubValue:empty {
		display: none;
}




.dgNPCOutput .dgNPCNaturalSize, .dgNPCOutput .dgNPCNaturalSize > * {
	min-width: 2rem;
	width: auto;
	margin-right: 1rem;
} 
.dgNPCOutput .dgNPCSense > .dgNPCLineHeader {
	width: auto;
	margin-right: 1rem;
}


.dgNPCOutput .dgNPCSpecialEntry {
}
.dgNPCOutput .dgNPCSpecialEntryName {
		font-weight: 700;
		margin-right: 1rem;
}
.dgNPCOutput .dgNPCSpecialEntryValue {
}

.dgNPCOutput .dgNPCSpecialEntry:empty, .dgNPCOutput .dgNPCSpecialEntryName:empty, .dgNPCOutput .dgNPCSpecialEntryValue:empty {
	display: none;
}

.dgNPCOutput .dgNPCWeaponName, .dgNPCOutput .dgNPCWeaponAttack, .dgNPCOutput .dgNPCWeaponDamage, .dgNPCOutput .dgNPCWeaponCrit, .dgNPCOutput .dgNPCWeaponOther {
	display: inline-block;
	margin-right: 0.25rem;
}
.dgNPCOutput .dgNPCWeaponName:empty, .dgNPCOutput .dgNPCWeaponAttack:empty, .dgNPCOutput .dgNPCWeaponDamage:empty, .dgNPCOutput .dgNPCWeaponCrit:empty, .dgNPCOutput .dgNPCWeaponOther:empty {
	display: none;
}
.dgNPCOutput .dgNPCSaves {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.dgNPCOutput .dgNPCSecondaryWeapon {
	margin-right: 0.5rem;
}