/*


			NOW JUNK - Replaced by tools-style.css in theme directory


*/

/*
*
*	D&D 3.5 Monster Generator CSS
*
*
*/


/** Utility Classes   **/


.lightBorder {
	border: 1px solid #bbbbbb;	
	padding: 0.5em;
	margin: 1em;
}
.justifyText {
	text-align: justify;	
}

.rightText {
	text-align: right;	
}

.leftText {
	text-align: left;	
}
.greyText {
	color: #888888 ! important;
}

.posAbsolute {
	position: absolute;	
}
.indent15 {
	position: absolute;
	left: 15%;	
}
.indent40 {
	position: absolute;
	left: 40%;	
}


.indent15 select, .indent15 input, .indent40 input, .indent40 input {
	padding: 0em;
	margin: 0em;	
}
.width2em {
	width: 2em;	
}
.width4em {
	width: 4em;	
}
.width8em {
	width: 8em;	
}
.small {
	font-size: 0.8em;	
}

.noBorder {
	border: none ! important;	
}

.errorText {
	color: red;	
}

table tr.oddRow {
}
table tr.evenRow {
	background-color: #cccccc;
}
option.validOption {
	color: black ! important;
}
option.invalidOption {
	color: red ! important;
}

/**             Main Formatting						*/

#betaWide .post h1 {
	margin-bottom: 0.5em;	
}
#betaWide .post p {
	margin: 0.2em 1em 0.5em 1em;
}

/* Forms & Buttons  */ 
 
input.button {
		border: 2px outset #dddddd;
		margin: auto;
		background-color: #dddddd;
}
input.text {
	border: 0px solid black;
	background-color: #dddddd;
}

input.radio {
		width: 4em;
		background: none;
		margin: 0em;
		padding: 0em;
		border: none;
		
}

label {
	border: 1px solid #dddddd;
	margin: 0.5em 0em; 	
	font-size: 110%;
	font-weight: bold;
	padding: 0.2em;
}



label#monsterTypeLabel {
	padding: 0.5em 0.25em;
	display: block;
	font-size: 1.25em;
	border: none;
}
#monsterTypeLabel select {
	width: 15em;	
	margin-left: 3em;
 }

