/*
*	CSS Specific to the Monster Generator
*/


#betaWide .post #monsterGenerator  {
	border: 1px solid #bbbbbb;	
	padding: 0.5em;
	margin: 1em;	
}

#monsterGenerator {
}

#monsterGenerator h3 {
	font-weight: bold;
	text-align: center;	
	margin: 0.25em;	
}

#betaWide .post #monsterGenerator p {
	margin: 0.2em 0.2em 0.5em 0.2em;
	padding: 0em;
}


#monsterGenerator .error {
	text-align: center;
	border: 1px solid red;
	margin: 2em auto;
	padding: 1em;
	width: 50%;
}

#monsterGenerator .table {
	
}

#monsterGenerator .tableRow {
	clear: both;
	border-top: 1px solid black;
	padding: 0.2em;
}
#monsterGenerator .tableCell {
	float: left;	
	margin: 0.5em auto;
}

#monsterGenerator .tableCellWidth30 {
	width: 30%;	
	margin-left: 2%;
}

#monsterGenerator .table h4 {
	font-weight: bold;
	text-align: center;	
}

/* Psuedo classes for inputs */


#monsterClassSelection {
	clear: both;
	width: 100%;
	padding: 0.25em;
	position: relative;	
	margin: 1em 0em;
}

#monsterClassSelection h5 {
		
}


#monsterClassSelection .classSelect {
	width: 100%;
}

#monsterClassSelection .levelInput {
	width: 3em;
}
#monsterClassSelection .focusSelect {
	width: 100%;
}

#generateMonster {
	clear: both;
	margin-top: 1em;
}



/***************************************/
/*    .stats is the main structure      */
/***************************************/
ul.stats {
	margin: 1em 0.2em;
	font-size: 1em;
	page-break-before: auto;
	page-break-after: auto;
}
li.stats {
	font-size: 1em;
	border-top: 1px solid #CCCCCC;
	clear: both;
	margin-bottom: 1em;
	position: relative;
}
li.stats p {
	margin: 0em;
	padding: 0.3em;
	font-size: 1em;
}

li.stats ul {
	margin: 0.2em 0.2em 0.5em 0em;
	padding: 0px;	
}
li.stats ul li {
	margin: 0.2em 0.2em 0.5em 0em;
	padding: 0px;	
}


/******************************************/
/* Utility classes used multiple times    */
/******************************************/


.bigBox {
	padding: 0em;
	margin: 0em;
}

ul.bigBoxRight {
	float: right;
/*	width: 8em; */
	margin: 1em 0em;
	padding: 0em;
}
li.bigBoxRightContent {
	border: 1px solid #CCCCCC;
/*	width: 100%;*/
	font-size: 1em;
	padding: 0em;
	margin: 0em;
}

li.bigBoxRightContent p.boxValue {
	float: right;
}


ul.bigBoxLeft {
	margin: 1em 0em;
	padding: 0em;
}
li.bigBoxLeftContent {
/*	width: 100%; */
	clear: left;
	font-size: 1em;
}

.box {
	display: block;
	padding: 0em;
	margin: 0.5em 0em 0em 0em;
	position: relative;	

}
h4.label {
	font-size: 1em;
	color: #888888;
	margin: 0em;
	padding: 0em;
	border-bottom: 2px solid #888888;
	font-weight: normal;
	display: inline;
}
h5.label {
	font-weight: bold;
	font-size: 0.8em;
	color: black;
}

h4.boxLabel {
	font-size: 1em;
/*	color: #888888; */
	margin: 0.1em 0em 0.1em 0.1em;
	padding: 0.1em 0.3em 0em 0em;
	border-bottom: 2px solid #888888;
	width: 100%;
}

 .box p.boxLabel {
	font-size: 1em;
/*	color: #888888;*/
	margin: 0.1em 0em 0.1em 0em ! important;
	padding: 0.1em 0em 0em 0em  ! important;
	border-bottom: 2px solid #888888;
}
.box p.boxValue {
	color: #000000;
	margin: 0.1em 0em 0.1em 0.1em;
	padding: 0.1em 0em 0.1em 0em;
	font-weight: bold;
	font-size: 1em;
	text-align: right;
}
.box p.boxValue input {
	margin: 0.1em 0em 0.1em 0.1em;
	padding: 0.1em 0em 0.1em 0em;
	text-align: right;
}
.box p.boxValue select {
	margin: 0.1em 0em 0.1em 0.1em;
	padding: 0.1em 0em 0.1em 0em;
	text-align: left;
}
.box ul.small {
	line-height: 130%;
}

.box .boxDetail {
	color: #888888;
	padding: 0.3em 0em;
	text-align: left;
	font-size: 0.8em;	
}
.box ul.boxDetail {
	clear: both;
}
.box ul.boxDetail li {
	font-size: 1em;
}

.box p.boxDetail {

}

.leftBorder { 
	border-top: none ! important;
	border-bottom: none ! important;
	border-right: none ! important;
	border-left: 1px solid #cccccc ! important;
	padding-left: 0.5em;
}

form {
	position: relative;	
}
select  {
	width: 15em;
	margin-bottom: 0.25em;
	margin-left: 0.25em;
}
select:focus  {
}
input {
	width: 15em;
	margin-bottom: 0.25em;
	margin-left: 0.25em;
}
input:focus {
	color: red;
}


.bigBoxColumns {
	width: 100%;
	clear: both;	
	padding: 0em;
	margin: 0em;
	overflow: auto;
}

.bigBoxColumn3 {
	float: left;
	width: 30%;
	margin-right: 0em;
	margin-bottom: 0.5em;
	margin-left: 0em;

	padding: 0em;

}



.bigBoxColumn3 ul {
	margin: 0em;
	padding: 0em
}
.bigBoxColumn3 ul li {
	font-size: 0.8em;
	clear: both;
	margin: 0em;
	padding: 0em;
}
.bigBoxColumn3 ul li select {
	font-size: 1em;
	width: 18em; 
	margin: 0em;
	padding: 0em;
}

.bigBoxColumn2 {
	float: left;
	width: 44%;
	margin: 0em 1em 0em 0em;
	padding: 0em 0em 0em 0em;
}
.bigBoxColumns .rightColWrapper {
	padding-left: 1em;
	position: relative;
}

.bigBoxColumns p.colLabel {
	font-size: 1em;
	color: #888888;
	margin: 0.1em 0em 0.1em 0.1em;
	padding: 0.1em 0.3em 0em 0em;
	float: left;
	border-bottom: 2px solid #888888;
}

p.bigBoxLabel {
	text-align:  center;
	font-size: 1em;
	margin: 0.1em 0em 0.1em 0em ! important;
	padding: 0.1em 0em 0em 0em  ! important;
	border-bottom: 2px solid #888888;
}



/*******************************************/
/* Section specific formatting              */
/******************************************/

h3.statsHeader {
	font-size: 1.2em;
	text-align: center;
	font-weight: bold;
}
p.statsHeader  {
	text-align: center;
}



li.combatBox {
}



ul.attacks {
	margin: 0.5em 0em;
	padding: 0.5em 0em 0em 0em;
}
li.attack {
	clear: left;
	padding: 0em 0em;
	margin: 0em 0em ;
	font-size: 1em;
	border-top: 1px solid #cccccc;
	width: 90%;
}
li.attack span {
	font-size: 0.8em;
}
.attackWeapon {
	font-weight: bold;
	color: #000000;
	width: 50%;
	display: block;
	float: left;
}
.attackToHit {
	font-weight: normal;
	color: #000000;
	width: 10%;
	display: block;
	float: left;
	text-align: right;
}
.attackDamage {
	font-weight: normal;
	color: #000000;
	width: 30%;
	display: block;
	float: right;
	text-align: right;
}
.attackAdditional {
	font-weight: 100;
	color: #CCCCCC;
	font-size: 0.8em;
	display: block;
	clear: left;
	width: 100%;
}


ul.specialAbilities {
	margin: 0.5em 0em;
	padding: 0.5em 0em 0em 0em;
}
li.specialAbility {
	clear: left;
	padding: 0.3em 0em 0.1em 0em;
	margin: 0.1em 0em 0.1em 0em;
	font-size: 1em;
	border-top: 1px solid #cccccc;
}

ul > li.specialAbility:first-child {
	border-top: none ! important;
}


li.stats p.tactics {
	font-size: 0.8em;
}

li.coreStats {
	margin: 1em 0em 0em 0em;
	border-top: 1px solid #CCCCCC;
	clear: both;
}
.coreStatsLine {
	margin: 1em auto;
	display: block;
}
.coreStat {
	width: 60%;
	height: 3em;
}
.coreStat p.boxValue {
	clear: both;
}
.coreStat p.boxDetail {
	color: #888888;
}
.minorStat {
	margin: 0em 1em 0em 0em;
	width: 20%;
	float: left;
	font-size: 0.8em;
}
.minorStat p.boxValue {
	margin-left: 1em;
}


ul li p.featName {
	margin: 0em;
	padding: 0em;
	float: left;
	width: 95%;
	font-size: 1em;
}

#helpFeat {
	width: 30em;	
}
table.skills {
	border: none;	
	font-size: 0.8em;
}
table.skills tr {
	border: none; 
}
table.skills th {
	border: none;	
	font-weight: bold;
	padding: 0.25em;
	text-align: center;
}
table.skills td {
	border: none;	
	text-align: center;
}
table.skills tr.skillHeadings {
	border-bottom: 1px solid black;	
}
table.skills td.skillName {
	border: none;	
	width: 20em;
	margin: 0em;
	padding: 0em;
	text-align: left;
}


table.skills  td.skillTotal {
	border-right: 1px solid black;
	width: 10em;
	
}
table.skills  td.skillRank {	
	width: 10em;
}
table.skills  td.skillStatBonus {	
	width: 10em;
}
table.skills  td.skillMiscBonus {	
	width: 10em;
}

table.classSpecials {
	border: none;	
	font-size: 0.8em;
	margin-bottom: 1em;
}
table.classSpecials tr.classSpecialHeading th {
	font-weight: bold;
}
table.classSpecials tr.classSpecialHeading th.classSpecialDesc {
	font-weight: bold;
	text-align: center;
	vertical-align: bottom;
}
table.classSpecials tr.classSpecialHeading th.classSpecialValue {
	font-weight: bold;
	text-align: center;
	vertical-align: bottom;
}
table.classSpecials td.classSpecialName {
	width: 20em;
	margin-right: 1em;
	vertical-align: top;
}
table.classSpecials td.classSpecialDesc {
	width: 28em;
	margin-right: 1em;
	vertical-align: top;
}
table.classSpecials td.classSpecialValue {
	vertical-align: top;
	width: 3em;
	margin-right: 1em;
	text-align: center;
}

ul.skills {
}
ul.skills li.skill {
	clear: both;
	font-size: 0.8em;
}
ul.skills li.skill p {
	margin: 0em;
	padding: 0em;
}
p.skillName {
	float: left;
	width: 15em;
	margin: 0em;
	padding: 0em;
}
p.skillBuildUp {
	float: left;
	margin: 0em;
	padding: 0em;
	font-weight: bold;
	color: #CCCCCC;
	font-size: 0.8em;
	width: 8em;
}
span.skillRanks {
	padding-right: 1em;
}
span.skillStatBonus {
	padding-right: 1em;
}
.skillFeatBonus {
	padding-right: 1em;
}
.skillMagicBonus {
	padding-right: 1em;
}
p.skillTotal {
	float: left;
	font-weight: bold;
	color: black;
	float: left;
	width: 2em;
}
p.skillAdditional {
	font-weight: normal;
	color: #CCCCCC;
	font-size: 0.8em;
	width: 10em;
	width: 12em;
	float: right;
}

ul.spells {
}
li.spells {
}
ul.spellList {
	float: left;
	margin-right: 2em;
}
ul.spellList h5.spellListTitle {
	font-weight: bold;
}
ul.spellList li {
}
li.stats p.spellListNotes {
	font-size: 0.8em;
	color: #CCCCCC;
	padding: 0.1em;
	margin: 0.1em;
}

ul.magicItemsList {
}
ul.magicItemsList li {
	clear: both;
}
ul.magicItemsList li p.item {
	float: left;
	width: 15em;
	margin: 0em;
	padding: 0em;
}
ul.magicItemsList li p.itemNotes {
	font-size: 0.8em;
	color: #CCCCCC;
	padding: 0.1em;
	margin: 0.1em;
}

.equipment {
	border: 2px solid #CCCCCC;

}
ul.currancyList {
}
ul.currancyList li {
	float: left;
	width: 8em;
	border: 1px solid #CCCCCC;
	margin: 0.2em 0.2em 0.2em 0em;
}
p.currancyName {
	font-weight: bold;
	color: #CCCCCC;
}
p.currancyAmount {
	padding: 0.3em 5em 0.3em 2em;
}


ul.equipmentList {
	float: left;
	margin-right: 2em;
}

ul.equipmentList li {
}

ul.notes {
}
ul.notes li.note {
}
ul.notes li.note p{
}




