/*
*	CSS specific to the Treasure generator
*/

#treasure {
	margin: 2em 1em 1em 1em;
	border: 1px solid #cccccc;
	padding: 1em 0.2em;
}


#treasure h5 {
	font-weight: bold;
	border-bottom: 1px solid black;	
	margin-top: 1em;
}
#treasure p {
	margin-left: 5em;
		
}

#treasure br {
	margin-bottom: 1em;
}

#generateTreasure  {
	margin-left: 5em;
}